<div class="resume-section-content">
    <form method="post">
        <hr />
        <br />
        <h2 class="mb-5">İletişim</h2>
        <label>Ad Soyad</label>
        <input type="text" name="AdSoyad" value="" class="form-control" />
        <br />
        <label>Mail</label>
        <input type="text" name="Mail" value="" class="form-control" />
        <br />
        <label>Konu</label>
        <input type="text" name="Konu" value="" class="form-control" />
        <br />
        <label>Mesaj</label>
        <input type="text" name="Mesaj" value="" class="form-control" />
        <br />
        <button class="btn btn-info">Mesaj gönder</button>
    </form>
</div>